body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  color: #40514E;
}

hr {
  color: #EAF6F6;
  width: 10%;
  border: 0;
  border-top: 7px;
  border-style: dotted;
  margin: 6rem auto 6rem auto;
}

a {
  color: #11999E;
  text-decoration: none;
}

.footer-link {
  padding: 2rem;
  font-weight: bold;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  position: relative;
  margin: 4rem auto 0 auto;
  padding: 3rem;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.juan {
  border-radius: 100%;
  max-width: 20%;
  height: auto;
  margin: 3rem auto 2rem auto;
}

.html5-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.css3-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.pre-btn-p {
  margin-bottom: 3rem;
}

.btn {

  background: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
  background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
  background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
  background-image: -o-linear-gradient(top, #11999E, #66BFBF);
  background-image: linear-gradient(to bottom, #11999E, #66BFBF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #EAF6F6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {

  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: linear-gradient(to bottom, #66BFBF, #11999E);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  margin: 3rem auto 3rem auto;
}
